/* Aside */
#aside {
    height:100%;
    width:350px;
    max-width:90%;
    position:fixed;
    right:0;
    top:0;
    transform:translateX(0px);
    transition:0.5s ease-out;
    background-color:#152238;
    z-index:60;
    display:flex;
    flex-direction:column;
}
#aside.hidden {
    transform:translateX(350px);
    transition:0.5s ease-out;
}
#aside .top {
    background-color:#528aae;
    height:50px;
    flex-shrink:0;
    display:flex;
    justify-content: flex-end;
}
#aside .top button {
    height:100%;
    width:50px;
    background:#ff5349;
}
#aside .container {
    overflow:auto;
    flex-grow:1;
}
#aside .aside-sep {
    height:1px;
    width:85%;
    margin:0 auto;
    color:#fefefe;
}
#aside .aside-menu ul li {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    padding:7px 10%;
}
#aside .aside-menu ul li .aside-menu-item {
    width:60%;
}
#aside .aside-menu ul li .date {
    width:40%;
    margin:auto 0;
    text-align:right;
    color:#cccccc;
}
#aside .sidebar-nav ul li {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    padding:7px 10%;
}
#aside .sidebar-nav ul li a.sidebar-nav-item {
    width:60%;
} 
#aside .sidebar-nav ul li small.date {
    width:40%;
    margin:auto 0;
    text-align:right;
    color:#cccccc;
}