/* Aside */
aside#aside {
    height:100%;
    width:100%;
    position:fixed;
    right:0;
    top:0;
    z-index:60;
    display:flex;
    flex-direction:row-reverse;
    opacity:1;
    transition:opacity 0.3s;
}
aside#aside.hidden {
    z-index:-1;
    opacity:0;
    transition:opacity 0.3s;
    display:none;
}
aside#aside div.profile-container {
    width:20%;
    background-color:#152238;
    display:flex;
    flex-direction:column;
    position:relative;
    transform:translateX(0);
}
aside#aside div.profile-container button.hide-aside {
    height:50px;
    width:50px;
    position:absolute;
    top:0;
    right:0;
}
aside#aside div.profile-container div.aside-image {
    height:100%;
    width:100%;
    filter:blur(4px);
    position:absolute;
    top:0;
}
aside#aside div.profile-container div.profile {
    position: absolute;
    width:100%;
    top:25%;
}
aside#aside div.navigation-container {
    width:20%;
    padding:50px 30px;
    background-color:#152238;
    overflow:auto;
}
aside#aside div.navigation-container ul.categories ul.subcategories li{
    padding-left:20px;
}
aside#aside div.empty-container {
    width:60%;
    background-color:rgba(0,0,0,0.5);
}
aside#aside .container {
    overflow:auto;
    flex-grow:1;
}
aside#aside .aside-sep {
    height:1px;
    width:85%;
    margin:0 auto;
    color:#fefefe;
}
aside#aside .aside-menu ul li {
    display:flex;
    flex-direction:row;
    margin-bottom:10px;
}
aside#aside .aside-menu ul li .icon {
    margin:auto 0;
    width:30px;
}
aside#aside .sidebar-nav ul li {
    display:flex;
    flex-direction:row;
    margin-bottom:10px;
}
aside#aside .sidebar-nav ul li .icon {
    margin:auto 0;
    width:30px;
}