/* Cateories */
.categories {
    position:relative;
    top:70px;
    width:90%;
    min-width:600px;
    max-width:800px;
    margin:0 auto;
}
.categories ul{
    display:inline-flex;
    flex-wrap:wrap;
    flex-direction:row;
}
.categories ul li{
    display:inline-flex;
    border-radius: 4px;
    list-style: none;
    cursor: pointer;
    margin-right:20px;
    margin-bottom:20px;
}
.categories ul li .summary.card {
    background-color:black;
    overflow: hidden;
    border-radius: 4px;
    width:310px;
    height:310px;
}
.categories ul li .summary.card div.recent-image{
    width:310px;
    height:60%;
    background-position:left;
    background-size:100% 100%;
    background-repeat:no-repeat;
    display:flex;
    flex-direction:column;
    justify-content: center;
    text-align: center;
}
.categories ul li .summary.card div.recent-image span{
    background-color:rgba(255,255,255,0.6);
    font-weight:300;
    font-size:1.2rem;
}
.categories ul li .summary.card .title{
    background-color:white;
    width:310px;
    height:40%;
    display:flex;
    flex-direction:column;
}
.categories ul li .summary.card .title a{
    text-decoration: none;
}
.categories ul li .summary.card .title a h3{
    margin:0;
    font-size:1.5rem;
    font-weight:300;
    text-align: center;
    padding:10px 0;
}
.categories ul li .summary.card:hover .title a h3{
    text-decoration: underline;
}
.categories ul li .summary.card .title a div{
    text-align: center;
}
.categories ul li .summary.card:hover .title a div{
    text-decoration: underline;
}