.category_breadcrumb {
    display:flex;
    flex-direction:row;
    margin-bottom:12px;
    margin-top:3px;
}
.category_breadcrumb span.title {
    font-weight:bold;
}
.category_breadcrumb a.name {
    font-weight:bold;
    color:var(--primary-text-color);
    transition:0.3s ease-in-out;
    font-size:1.1rem;
}
.category_breadcrumb a.name:hover {
    color:var(--purple);
    transform: scale(1.1);
}