/* clock */
.clock {
    position:absolute;
    right:50%;
    margin-right:-75px;
    top:10px;
    width:150px;
    height:150px;
    display:flex;
    justify-content: center;
    align-items:center;
    background-size:cover;
    border: 4px solid #cccccc;
    border-radius:50%;
    box-shadow:0 -15px 15px rgba(255,255,255,0.05),
                inset 0 -15px 15px rgba(255,255,255,0.05),
                0 15px 15px rgba(0,0,0,0.3),
                inset 0 15px 15px rgba(0,0,0,0.3);
}
.clock:before {
    content: '';
    position: absolute;
    width:10px;
    height:10px;
    background-color:#fff;
    border-radius:50%;
    z-index:1000;
}
.clock .hour,
.clock .min,
.clock .sec {
    position:absolute;
}
.clock .hour, .hr {
    width:80px;
    height:80px;
}
.clock .min, .mn {
    width:100px;
    height:100px;
}
.clock .sec, .sc {
    width:120px;
    height:120px;
}
.hr, .mn, .sc {
    display:flex;
    justify-content: center;
    position: absolute;
    border-radius:50%;
}
.hr:before {
    content: '';
    position:absolute;
    width:6px;
    height:40px;
    background:#ff105e;
    z-index:10;
    border-radius:6px 6px 0 0;
}
.mn:before {
    content: '';
    position:absolute;
    width:4px;
    height:50px;
    background:#fff;
    z-index:11;
    border-radius:6px 6px 0 0;
}
.sc:before {
    content: '';
    position:absolute;
    width:2px;
    height:80px;
    background:#fff;
    z-index:12;
    border-radius:6px 6px 0 0;
}