/* Footer*/
footer#footer {
    background-color:var(--background-color);
    position:relative;
    height:450px;
    width:100%;
    bottom:0;
    z-index:10;
}
footer#footer .center {
    position:relative;
    flex-direction:column;
    top:15%;
}
footer#footer span {
    margin: 0 auto;
    display:inline-block;
    font-size:0.75rem;
    color: var(--on-primary-color);
}
footer#footer .share {
    margin: 0 auto;
    margin-bottom:15px;
}
footer#footer div.banner-bottom img {
    width:800px;
}

/* Scroll To Top*/ 
#footer button.scroll-to-top {
    border-radius:50%;
    font-size:1.2rem;
    width:60px;
    height:60px;
    position:fixed;
    bottom:100px;
    right:30px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    overflow:hidden;
    z-index:110;
}
#footer button.scroll-to-top * {
    color:var(--purple);
    margin:0 auto;
}
#footer button.scroll-to-top:active {
    background-color:var(--red);
}
#footer button.scroll-to-bottom {
    border-radius:50%;
    font-size:1.2rem;
    width:60px;
    height:60px;
    position:fixed;
    bottom:30px;
    right:30px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    overflow:hidden;
    z-index:110;
}
#footer button.scroll-to-bottom * {
    color:var(--purple);
    margin:0 auto;
}
#footer button.scroll-to-bottom:active {
    background-color:var(--blue);
}
#footer.relative-small {
    top:70px;
}
