/* Footer*/
footer#footer {
    position:relative;
    height:450px;
    width:100%;
    bottom:0;
}
footer#footer .center {
    position:relative;
    flex-direction:column;
    top:15%;
}
footer#footer span {
    margin: 0 auto;
    display:inline-block;
    font-size:0.7rem;
    color: #999999;
}
footer#footer .share {
    margin: 0 auto;
}
footer#footer div.banner-bottom img {
    width:800px;
}

/* Scroll To Top*/ 
#footer button.scroll-to-top {
    border-radius:50%;
    background-color:#cccccc;
    font-size:1.2rem;
    width:60px;
    height:60px;
    position:fixed;
    bottom:100px;
    right:30px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    overflow:hidden;
}
#footer button.scroll-to-top * {
    color:#505050;
    margin:0 auto;
}
#footer button.scroll-to-top:active {
    background-color:red;
}
#footer button.scroll-to-bottom {
    border-radius:50%;
    background-color:#cccccc;
    font-size:1.2rem;
    width:60px;
    height:60px;
    position:fixed;
    bottom:30px;
    right:30px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    overflow:hidden;
}
#footer button.scroll-to-bottom * {
    color:#505050;
    margin:0 auto;
}
#footer button.scroll-to-bottom:active {
    background-color:blue;
}
#footer.relative-small {
    top:70px;
}
