/* Home Page Css */
#home-head {
    height: 450px;
    width:100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:fixed;
    display:flex;
    flex-direction:column;
    justify-content: center;
    z-index:1;
  }
  #home-head .container {
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    box-sizing:content-box;
    background-color:rgba(0,0,0,0.5);
    /* backdrop-filter:brightness(50%); */
  }
  #home-head .container .title {
    color:#cccccc;
    margin:30px 0;
    font-weight:100;
    font-size:3rem;
    text-align:center;
  }
  #home-head .container .content {
    color:#cccccc;
    font-size:1rem;
    text-align:center;
  }
  #home-menu {
    width:100%;
    height:50px;
    display:flex;
    background-color:white;
    position:relative;
    z-index:10;
    top:450px;
  }
  #home-menu ul{
      padding:0;
      width:90%;
      min-width:800px;
      max-width:1000px;
      height:100%;
      margin:0 auto;
      display:flex;
      flex-direction:row;
  }
  #home-menu ul li {
      height:100%;
      list-style: none;
      width:100px;
      text-align:center;
      font-weight:bold;
      display:flex;
      justify-content: center;
      cursor:pointer;
  }
  #home-menu ul li a {
      margin:auto 0;
      text-decoration: none;
      color: #505050;
  }
  #home-menu ul li a:visited {
      color:#505050;
      background-color:transparent;
  }
  #home-menu ul li:hover {
      background-color:#95cb44;
  }
  #home-menu ul li:hover a{
      color:#111111;
  }
  #home-summary {
      width:100%;
      z-index:10;
      background-color:white;
      position:relative;
      top:450px;
      padding-top:50px;
  }
  #home-summary .center {
    max-width:1000px;
    min-width:800px;
    width:90%;
    margin:0 auto;
  }