/* Home Page Css */
header#home-header {
    color:var(--main-card-color);
    background-color:var(--main-card-color);
}
header#home-header .curtain .title {
    margin:0 auto;
    width:70%;
    font-weight:100;
    font-size:3rem;
    line-height:3rem;
    padding:20px 10px;
    text-align:center;
}
header#home-header .curtain .description {
    margin:0 auto;
    width:70%;
    padding:20px 10px;
    font-size:1rem;
    text-align:center;
}