/* Aside */
aside#left-aside {
    position:fixed;
    top:0;
    left:50%;
    margin-left:-750px;
    height:100%;
    width:200px;
    padding-top:100px;
    opacity:1;
    transition:all 0.3s ease-out;

    display:flex;
    flex-direction:column;
}
aside#left-aside div.profile-container {
    position:relative;
    display:flex;
    flex-direction:column;
    margin-bottom:30px;
} 
aside#left-aside div.profile-container div.profile {
    width:100%;
}
aside#left-aside nav.aside-menu ul li {
    display:flex;
    flex-direction:row;
    margin-bottom:30px;
}
aside#left-aside nav.aside-menu ul li .icon {
    margin:auto 0;
    width:30px;
}