article.content a {
  color: #4183C4; }
article.content a.absent {
  color: #cc0000; }
article.content a.anchor {
  display: block;
  padding-left: 30px;
  margin-left: -30px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0; }

article.content h1,
article.content h2,
article.content h3,
article.content h4,
article.content h5,
article.content h6 {
  margin: 20px 0 10px;
  padding: 0;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  cursor: text;
  position: relative; 
}
article.content h1 tt,
article.content h1 code {
  font-size: inherit; }

article.content h2 tt,
article.content h2 code {
  font-size: inherit; }

article.content h3 tt,
article.content h3 code {
  font-size: inherit; }

article.content h4 tt,
article.content  h4 code {
  font-size: inherit; }

article.content h5 tt,
article.content h5 code {
  font-size: inherit; }

article.content h6 tt,
article.content h6 code {
  font-size: inherit; }

article.content h1 {
  font-size: 28px;
  color: black; }

article.content h2 {
  font-size: 24px;
  border-bottom: 1px solid #cccccc;
  color: black; }

article.content h3 {
  font-size: 18px; }

article.content h4 {
  font-size: 16px; }

article.content h5 {
  font-size: 14px; }

article.content h6 {
  color: #777777;
  font-size: 14px; }

article.content p,
article.content blockquote,
article.content ul,
article.content ol,
article.content dl,
article.content li,
article.content table,
article.content pre {
  margin: 15px 0; }

article.content hr {
  background:darkgray;
  border: 0 none;
  color: #cccccc;
  height: 4px;
  padding: 0; }

article.content h1 p,
article.content h2 p,
article.content h3 p,
article.content h4 p,
article.content h5 p,
article.content h6 p {
  margin-top: 0; }

article.content li p {
  display: inline-block; }

article.content ul,
article.content ol {
  padding-left: 30px; }

article.content ul :first-child, 
article.content ol :first-child {
  margin-top: 0; }

article.content ul :last-child,
article.content ol :last-child {
  margin-bottom: 0; }

article.content dl {
  padding: 0; }
  article.content dl dt {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    padding: 0;
    margin: 15px 0 5px; }
    article.content dl dt:first-child {
      padding: 0; }
    article.content dl dt > :first-child {
      margin-top: 0; }
    article.content dl dt > :last-child {
      margin-bottom: 0; }
  article.content dl dd {
    margin: 0 0 15px;
    padding: 0 15px; }
    article.content dl dd > :first-child {
      margin-top: 0; }
    article.content dl dd > :last-child {
      margin-bottom: 0; }

article.content blockquote {
  border-left: 4px solid #dddddd;
  padding: 0 15px;
  color: #777777; }
  article.content blockquote > :first-child {
    margin-top: 0; }
  article.content blockquote > :last-child {
    margin-bottom: 0; }

article.content table {
  padding: 0; }
  article.content table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0; }
    article.content table tr:nth-child(2n) {
      background-color: #f8f8f8; }
    article.content table tr th {
      font-weight: bold;
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    article.content table tr td {
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    article.content table tr th :first-child,
    article.content table tr td :first-child {
      margin-top: 0; }
    article.content table tr th :last-child,
    article.content table tr td :last-child {
      margin-bottom: 0; }

article.content img {
  max-width: 100%; }

article.content span.frame {
  display: block;
  overflow: hidden; }
  article.content span.frame > span {
    border: 1px solid #dddddd;
    display: block;
    float: left;
    overflow: hidden;
    margin: 13px 0 0;
    padding: 7px;
    width: auto; }
  article.content span.frame span img {
    display: block;
    float: left; }
  article.content span.frame span span {
    clear: both;
    color: #333333;
    display: block;
    padding: 5px 0 0; }
article.content span.align-center {
  display: block;
  overflow: hidden;
  clear: both; }
  article.content span.align-center > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: center; }
  article.content span.align-center span img {
    margin: 0 auto;
    text-align: center; }
article.content span.align-right {
  display: block;
  overflow: hidden;
  clear: both; }
  article.content span.align-right > span {
    display: block;
    overflow: hidden;
    margin: 13px 0 0;
    text-align: right; }
  article.content span.align-right span img {
    margin: 0;
    text-align: right; }
article.content span.float-left {
  display: block;
  margin-right: 13px;
  overflow: hidden;
  float: left; }
  article.content span.float-left span {
    margin: 13px 0 0; }
article.content span.float-right {
  display: block;
  margin-left: 13px;
  overflow: hidden;
  float: right; }
  article.content span.float-right > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: right; }

article.content code,article.content tt {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px; }

article.content pre code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent; }

article.content .highlight pre {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px; }

article.content pre {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px; }
  article.content pre code,article.content pre tt {
    background-color: transparent;
    border: none; }