/* Error Page */
#notFound {
    max-width:800px;
    min-width:600px;
    height:600px;
    margin:0 auto;
    display:flex;
    flex-direction:row;
    justify-content: center;
    margin-top:55px;
}
#notFound .error-cover {
    margin:auto 0;
    width:50%;
}
#notFound .error-content {
    width:50%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    padding-left:10px;
}
#notFound .error-content .error-code {
    box-sizing:border-box;
    text-align:baseline;
    font-size:6rem;
    font-weight:bold;
    line-height:130%;
    text-align: center;
}
#notFound .error-content .error-message {
    font-size:2rem;
    line-height:130%;
    font-weight:300;
    margin-bottom:20px;
    text-align: center;
}
#notFound .error-content .error-description {
    font-size:1rem;
    font-weight:300;
    line-height:130%;
    text-align: center;
    margin-bottom:50px;
}
#notFound .error-content .go-other-page {
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
#notFound .error-content .go-other-page button {
    height:40px;
    width:150px;
    border-radius: 20px;
    border:1px solid black;
}
#notFound .error-content .go-other-page button {
    background-color:white;
}
#notFound .error-content .go-other-page button a{
    color:#333333;
}
#notFound .error-content .go-other-page button:first-child {
    background-color:#333333;
}
#notFound .error-content .go-other-page button:first-child a{
    color:white;
}