/* Pagination */
.pagination {
    display:inline-block;
    color:var(--white);
}
.pagination a.round-card {
    display:inline-flex;
    width:36px;
    height:36px;
    text-align:center;
    justify-content: center;
}
.pagination a.round-card .icon {
    margin:auto 0;
    color:var(--primary-color);
}
.pagination span.page {
    padding:0 10px;
}