/* Profile */
.profile {
    display:flex;
    flex-direction:column;
}
.profile div.cover {
    display:flex;
    justify-content:center;
    align-items:center;
    margin:0 auto;
    width:100%;
    margin-bottom:20px;
}
.profile div.cover img {
    height:180px;
    width: 180px;
    z-index:5;
}
.profile h2 {
    color:black;
    font-size:1.8rem;
    margin:0 auto;
}
.profile p {
    margin:5px 5px;
}