/* related-content */
.related-content {
    margin:0 auto;
}
.related-content div.title {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}
.related-content ul.container {
    width:100%;
    padding-left:10px;
    display:flex;
    flex-direction:row;
}
.related-content ul li {
    list-style: none;
    margin-right:15px;
}