/* related-content */
.related-content {
    margin:0 auto;
}
.related-content div.title {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

.related-content div.container ul {
    width:1000px;
    overflow-x:scroll;
    /* padding-left:10px; */
    display:flex;
    flex-direction:row;
    /* flex-wrap: wrap; */
}
.related-content ul li {
    list-style: none;
    margin-right:20px;
}