/* search page css */
header#search-header {
    height:300px;
    background-color:var(--main-card-color);
    color:var(--primary-text-color);
}
header#search-header .center {
    flex-direction:column;
    height:100%;
    padding:20px;
    position:relative;
}
header#search-header .title {
    width:100%;
    text-align:center;
    font-weight:bolder;
    font-size:3rem;
    line-height:3rem;
    position:relative;
}
header#search-header .title .icon{
    margin-right:0.5rem;
}
header#search-header form.search-bar {
    position:relative;
    top:15%;
    display:flex;
    flex-direction:row;
    justify-content: center;
    border-bottom:3px solid var(--primary-text-color);
    width:600px;
    left:50%;
    margin-left:-300px;
}
header#search-header form.search-bar input#search-box {
    border:none;
    width: 600px;
    height:60px;
    font-size:2rem;
    padding:10px;
}
header#search-header form.search-bar input[type="submit"] {
    display:none;
}
header#search-header form.search-bar label {
    display:flex;
    padding-right:10px;
    cursor:pointer;
}
header#search-header form.search-bar label .icon {
    position:relative;
    font-size:2rem;
    margin:auto 0;
}
main#search-main {
    margin-top:300px;
}
main#search-main section#search-section {
    min-height:230px;
}
main#search-main .card {
    padding:20px;
    margin-bottom:20px;
}
main#search-main .icon {
    width:25px;
}
