/* section-move */
nav.section-move {
    width:100%;
    height:90px;
    position:relative;
}
nav.section-move .previous,
nav.section-move .next {
    position:absolute;
    border-radius:8px;
    padding:10px 20px;
    height:90px;
    width:48%;
    font-size:1.1rem;
    font-weight:bold;
    display:flex;
    flex-direction:row;
    transition:1s;
}
nav.section-move .previous {
    left:0;
}
nav.section-move .next {
    right:0;
}
nav.section-move .previous:hover,
nav.section-move .next:hover {
    background-color:var(--primary-color);
}
nav.section-move .previous .title,
nav.section-move .next .title {
    position:relative;
    display:flex;
    flex-direction:column;
    flex-grow:1;
}
nav.section-move .title small {
    color:var(--regular-text-color);
    line-height:1.5rem;
}
nav.section-move .title span {
    color:var(--regular-text-color);
    transition:0.3s;
    line-height:1.3rem;
}
nav.section-move .previous:hover .title span,
nav.section-move .next:hover .title span {
    color:var(--green);
    transition:0.3s;
}
nav.section-move .previous:hover .title small,
nav.section-move .next:hover .title small {
    color:var(--green);
    transition:0.3s;
}
nav.section-move .previous {
    justify-content: flex-start;
    text-align:left;
    
    transition:0.3s;
}
nav.section-move .previous small {
    left:0px;
    transition:0.3s;
}
nav.section-move .previous .icon {
    margin:auto 20px auto 10px;
    font-size:1.7rem;
    color:var(--regular-text-color);
    transition:0.3s;
}
nav.section-move .next {
    justify-content: flex-end;
    text-align:right;
    transition:0.3s;
}
nav.section-move .next small {
    right:0px;
}
nav.section-move .next .icon {
    margin:auto 10px auto 20px;
    font-size:1.7rem;
    color:var(--regular-text-color);
    transition:0.3s;
}
nav.section-move a:hover .icon.slide-right {
    color:var(--green);
    transform:translateX(5px);
}
nav.section-move a:hover .icon.slide-left {
    color:var(--green);
    transform:translateX(-5px);
}