/* Section */
header#section-header {
    display:flex;
    flex-direction:column;
    background-color:white;
    height:300px;
}
header#section-header .center {
    height:100%;
    flex-direction:column;
    padding:20px;
    position:relative;
}
header#section-header .title {
    position:absolute;
    font-weight:bolder;
    font-size:3rem;
    line-height:3rem;
    margin:30px 0;
    top:20%;
}
header#section-header .title .icon{
    margin-right:0.5rem;
}
header#section-header .description {
    position:relative;
    top:20%;
    font-size:1.1rem;
    width:70%;
}
main#section-main {
    margin-top:300px;
}
main#section-main .sort-options {
    margin-bottom:20px;
    padding:20px;
}
main#section-main .hidden {
    display:none;
}