/* Sections */
header#sections-header h1 {
    margin:0 0 2rem 0;
}
header#sections-main {
    position:relative;
    margin-top:70px;
    width:100%;
    min-width:600px;
    max-width:800px;
}

main#sections-main .sort-options {
    margin-bottom:10px;
}

main#sections-main .sort-options button {
    padding:3px;
    border-radius:4px;
}