.share {
    display:flex;
    justify-content: space-between;
}
footer .share {
    font-size:3rem;
    margin-bottom:15px;
    width:200px;

}
aside .share {
    font-size:1.5rem;
    display:inline-block;    
}
footer .share a.round-card {
    display:inline-flex;
    width:72px;
    height:72px;
    justify-content: center;
}
aside .share a.round-card {
    display:inline-flex;
    width:36px;
    height:36px;
    justify-content: center;
}
.share .icon {
    margin:auto 0;
    width:1.5rem;
}
