/* single*/
header#single-header {
    color:var(--main-card-color);
}
header#single-header .curtain {
    position:relative;
}
header#single-header .curtain a.go-back {
    position:absolute;
    top: 20px;
    left: 20px;
}
header#single-header .curtain a.go-back .icon {
    font-size:2rem;
    font: weight lighter;
    color:var(--main-card-color);
}
header#single-header .curtain  h1.title {
    width:100%;
    font-weight:100;
    font-size:3rem;
    padding:10px;
    position: absolute;
    line-height:4rem;
    text-align:center;
    overflow:hidden;
    z-index:10;
    top:35%;
}
header#single-header .curtain div.meta-data {
    position:absolute;
    text-align:center;
    width:100%;
    margin:0 auto;
    top:70%;
}
header#single-header .curtain div.meta-data p .icon {
    margin-right:5px;
}
main#single-main {
    display:flex;
    flex-direction:column;
    justify-content: center;
    z-index:5;
}
main#single-main section#content article.content{
    padding:30px 50px;
}
main#single-main section#meta .card {
    background-color:var(--main-card-color);
    padding:30px;
}