/*
Hugo-mania Theme CSS
*/
* {
    box-sizing:border-box;
    margin:0;
    padding:0;
}
html,
body {
  margin: 0;
  padding: 0;
  color: #505050;
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 1.83em;
}
body {
    scroll-behavior: smooth;
    transition:0.8s;
    background-color:#ffffff;
    display:flex;
    flex-direction:column;
}
img {
    max-width: 100%;
}
button {
    outline:none;
    border: none;
    cursor:pointer;
}
a {
    color:#3EB489;
    text-decoration: none;;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color:#999999;
}
hr.summary-sep {
    min-width:100%;
    border-top:3px dashed #bbb;
    margin:20px auto;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.hidden {
    display:none;
}
/* Topbar */
#topbar {
    width:100%;
    height: 55px;
    position: fixed;
    top:0;
    z-index:50;
}
#topbar .menus {
    height:50px;
    padding:0 10px 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index:5;
}
#topbar.card .progress-bar {
    height:5px;
    display:flex;
    background-color:#cccccc;
}
#topbar.card .progress-bar .progress {
    display:inline-block;
    background:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(8,200,22,1) 0%, rgba(0,112,255,1) 100%);
    height:100%;
}
#topbar.card {
    background-color:rgba(255,255,255,0.8);
}
#topbar .logo a img {
    margin:9px 0;
}
#topbar .burger {
    display:flex;
    justify-content: flex-end;
}
#topbar .burger button {
    margin: auto 0;
    margin-left:10px;
    background:none;
    color:#cccccc;
}
#topbar.card .burger button {
    color:#333333;
}
#topbar .burger .container {
    display:flex;
}
#topbar .burger .container .input-container {
    width:150px;
    margin-right:10px;
    overflow:hidden;
    position:relative;
}
#topbar .burger .container .input-container #search {
    border:none;
    border-bottom:1px solid black;
    width:150px;
    position:absolute;
    top:50%;
    margin-top:-15px;
    left:150px;
    height:30px;
    background:transparent;
    transition: transform 0.3s;
}
#topbar .burger .container .input-container #search:focus {
    outline:none;
}
#topbar .burger #search.active {
    transform:translateX(-100%);
}
#topbar .burger .icon {
    margin:auto 0;
    z-index:5;
    color:#cccccc;
}
#topbar.card .burger .icon {
    color:#333333;
}
/* Aside */
#aside {
    height:100%;
    width:350px;
    max-width:90%;
    position:fixed;
    right:0;
    top:0;
    transform:translateX(0px);
    transition:0.5s ease-out;
    background-color:#152238;
    z-index:60;
    display:flex;
    flex-direction:column;
}
#aside.hidden {
    transform:translateX(350px);
    transition:0.5s ease-out;
}
#aside .top {
    background-color:#528aae;
    height:50px;
    flex-shrink:0;
    display:flex;
    justify-content: flex-end;
}
#aside .top button {
    height:100%;
    width:50px;
    background:#ff5349;
}
#aside .container {
    overflow:auto;
    flex-grow:1;
}
#aside .aside-sep {
    height:1px;
    width:85%;
    margin:0 auto;
    color:#fefefe;
}
#aside .aside-menu ul li {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    padding:7px 10%;
}
#aside .aside-menu ul li .aside-menu-item {
    width:60%;
}
#aside .aside-menu ul li .date {
    width:40%;
    margin:auto 0;
    text-align:right;
    color:#cccccc;
}
#aside .sidebar-nav ul li {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    padding:7px 10%;
}
#aside .sidebar-nav ul li a.sidebar-nav-item {
    width:60%;
} 
#aside .sidebar-nav ul li small.date {
    width:40%;
    margin:auto 0;
    text-align:right;
    color:#cccccc;
}
/* Content*/
#content {
    max-width:100%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    z-index:5;
}
#content #banner {
    height:450px;
    position:fixed;
    top:0;
    width:100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#content #banner .title {
    background-color:rgba(0,0,0,0.5);
    width: 100%;
    height:450px;
    text-align:center;
    margin:auto 0;
    color:white;
    z-index:0;
    position:relative;
    /* background-color:green; */
}
#content #banner .title  #title {
    height:25%;
    width:100%;
    font-weight:100;
    font-size:3rem;
    padding:10px;
    position: absolute;
    line-height:3rem;
    top:40%;
    text-align:center;
    overflow:hidden;
}
#content #banner .title section {
    position:absolute;
    text-align:center;
    width:100%;
    top:65%;
    margin:0 auto;
}
#content #banner .title .breadcrumb {
    position:absolute;
    top:10%;
    display:block;
    width:100%;
}
#content #banner .title .author {
    display:block;
    width:100%;
    text-align: center;
    position: absolute;
    top:80%;
    margin:0 auto;
    color: #eeeeee;
}
#content #banner .title .author a {
    color:#3EB489;
}
#content #main {
    background-color:white;
    width:100%;
    padding:30px 20px;
    margin:0 auto;
    display:flex;
    flex-direction:column;
    justify-content: center;
    position:relative;
    top:450px;
    z-index:10;
}
#content #main .center {
    width:100%;
    max-width:1000px;
    margin:0 auto;
    overflow:hidden;
    display:flex;
    flex-direction:column;
}
#content #meta {
    background-color:white;
    position:relative;
    top:450px;
    padding:0 20px;
    width:100%;
    margin:0 auto;
    z-index:10;
}
#content #meta .center {
    width:100%;
    max-width:1000px;
    margin:0 auto;
}
#content #meta .center .more-content {
    overflow-x:scroll;
}
/* Summary */
article.summary {
    margin:0 auto;
    height:270px;
    min-width:100%;
    overflow:hidden;
    display:flex;
    flex-direction:row;
    background-color:white;
}
article.summary .cover-image {
    width:270px;
    height:270px;
    background-position:left;
    background-size:100% 100%;
    background-repeat:no-repeat;
    margin:auto 0;
}
article.summary .cover-image .classification {
    opacity:0;
    visibility:hidden;
    background:rgba(0,0,0,0.5);
    color:white;
    height:100%;
    transition:0.3s;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    margin:0 auto;
    padding:5px;
}
article.summary:hover .cover-image .classification {
    opacity:1;
    visibility:visible;
    transition:0.3s;
}
article.summary .cover-image .classification .summary-category {
    display:flex;
    flex-direction:column;
    height:40%;
}
article.summary .cover-image .classification .summary-category * {
    color:white;
    margin:0 auto;
    text-align:center;
}
article.summary .cover-image .classification .summary-tags {
    height:60%;
    margin:0 auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding:10px 20px;
}
article.summary .cover-image .classification .summary-tags h4 {
    height:30%;
    text-align: center;
}

article.summary .cover-image .classification .summary-tags ul.tag{
    height:55%;
    display:flex;
    flex-direction:row;
    justify-content: center;
    flex-wrap: wrap;
}
article.summary .cover-image .classification .summary-tags ul.tag li a{
    color:white;
}
article.summary .cover-image .classification .summary-tags .etc {
    height:15%;
    text-align: center;
}
article.summary .cover-content {
    box-sizing:content-box;
    flex:1;
    margin:20px;
    overflow:hidden;
    display:flex;
    flex-direction:column;
}
article.summary .cover-content a{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    color:#505050;
}
article.summary .cover-content a img.icon {
    height:2rem;
    width:2rem;
}
article.summary .cover-content a .title {
    font-size:1.7rem;
    line-height:1.7rem;
    font-weight:400;
    margin-left:15px;
    padding:0;
}
article.summary .cover-content .post-meta {
    font-size:15px;
    font-weight:200;
    height:20px;
    margin:0;
    margin-bottom:20px;
    color:#cccccc;
}
article.summary .cover-content .post-meta .author {
    background-color:transparent;
    font-size:1rem;
    color:#3EB489;
}
article.summary .cover-content .content {
    flex:1;
    overflow: hidden;
}
article.summary .cover-content .read-more {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}
article.summary .cover-content .read-more .go-to-read {
    border:1px solid #3EB489;
    color:#3EB489;
    text-decoration: none;
    background-color:#fefefe;
    border-radius:15px;
    padding:0 15px;
    position:relative;
    z-index:1;
    overflow: hidden;
}
article.summary .cover-content .read-more .go-to-read:hover {
    color:#fefefe;
}
article.summary .cover-content .read-more .go-to-read:before {
    content:'';
    position: absolute;
    width:200px;
    left:-200px;
    height:100px;
    background-color:#3EB489;
    z-index:-1;
    transition:transform 0.3s;
}
article.summary .cover-content .read-more .go-to-read:hover:before {
    transform:translateX(200px);
}
article.summary .cover-content .read-more .go-to-read * {
    margin:auto 0;
}
article.summary .cover-content .read-more .go-to-read span {
    margin-right:5px;
}
/* Profile */
.profile {
    display:flex;
    flex-direction:column;
    color:#fefefe;
}
.profile div.cover {
    display:flex;
    justify-content:center;
    align-items:center;
    margin:0 auto;
    width:100%;
    height:240px;
}
.profile div.cover img {
    height:200px;
    width: 200px;
    border-radius:12px;
}
.profile h2 {
    color:#fefefe;
    font-size:1.8rem;
    margin:0 auto;
}
.profile p {
    margin:5px 10px;
    text-align:center;
}
/* Footer*/
#footer {
    position:relative;
    height:450px;
    background-color:#cccccc;
    display:flex;
    flex-direction:column;
    justify-content: center;
    text-align:center;
    z-index:10;
    top:450px;
}
#footer span {
    font-size:0.7rem;
    color: #999999;
}
/* Scroll To Top*/ 
#footer button.scroll-to-top {
    border-radius:50%;
    background-color:#cccccc;
    font-size:1.3rem;
    width:70px;
    height:70px;
    position:fixed;
    bottom:30px;
    right:30px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    overflow:hidden;
}
#footer button.scroll-to-top * {
    color:#505050;
    margin:0 auto;
}
#footer button.scroll-to-top:active {
    background-color:red;
}
#footer.relative-small {
    top:70px;
}
/* Section, List, Taxonomy */
ul.contents {
    padding-left: 0;
}
ul.contents li {
    list-style: none;
}
/* Pagination */
.paging {
    padding:10px 0 50px 0;
    display:flex;
    justify-content: center;
}
.paging a.page {
    margin:0 10px;
}
.paging a.first {
    padding:0 10px 0 0;
}
.paging a.prev {
    padding:0 10px 0 0;
}
.paging a.next {
    padding:0 0 0 10px;
}
.paging a.last {
    padding:0 0 0 10px;
}
/* Cateories */
.categories {
    position:relative;
    top:70px;
    width:90%;
    min-width:800px;
    max-width:1000px;
    margin:0 auto;
}
.categories ul{
    display:inline-flex;
    flex-wrap:wrap;
    flex-direction:row;
}
.categories ul li{
    display:inline-flex;
    border-radius: 4px;
    list-style: none;
    cursor: pointer;
    margin-right:20px;
    margin-bottom:20px;
}
.categories ul li .summary.card {
    background-color:black;
    overflow: hidden;
    border-radius: 4px;
    width:310px;
    height:310px;
}
.categories ul li .summary.card div.recent-image{
    width:310px;
    height:60%;
    background-position:left;
    background-size:100% 100%;
    background-repeat:no-repeat;
    display:flex;
    flex-direction:column;
    justify-content: center;
    text-align: center;
}
.categories ul li .summary.card div.recent-image span{
    background-color:rgba(255,255,255,0.6);
    font-weight:300;
    font-size:1.2rem;
}
.categories ul li .summary.card .title{
    background-color:white;
    width:310px;
    height:40%;
    display:flex;
    flex-direction:column;
}
.categories ul li .summary.card .title a{
    text-decoration: none;
}
.categories ul li .summary.card .title a h3{
    margin:0;
    font-size:1.5rem;
    font-weight:300;
    text-align: center;
    padding:10px 0;
}
.categories ul li .summary.card:hover .title a h3{
    text-decoration: underline;
}
.categories ul li .summary.card .title a div{
    text-align: center;
}
.categories ul li .summary.card:hover .title a div{
    text-decoration: underline;
}
/* Sections */
.sections {
    position:relative;
    top:70px;
    width:90%;
    min-width:800px;
    max-width:1000px;
    margin:0 auto;
}
.sections h1 {
    margin:0 0 2rem 0;
}
/* Taxonomy */
#taxonomies {
    position:relative;
    top:70px;
    width:90%;
    min-width:800px;
    max-width:1000px;
    margin:0 auto;
}
.taxonomy {
    display:flex;
    flex-direction:column;

}
.taxonomy h1{
    margin:2rem 0;
}
/* breadCrumbNav */
.breadcrumbnav {
    color: #cccccc;
}
.breadcrumbnav a {
    color: #cccccc;
}
.breadcrumbnav a.visited {
    color: #cccccc;
}
.breadcrumbnav .active{
    color:#3EB489;
}
/* post-toc */
.post-toc {
    background-color:#eeeeee;
    border-radius:25px;
    padding:0 20px;
    overflow:hidden;
}
.post-toc #table {
    overflow: hidden;
}
.post-toc #table li {
    list-style:decimal;
}
.post-toc .title {
    display:flex;
    align-items:center;
    height:50px;
}
.post-toc .title .icon {
    margin-left:5px;
}
/* profile-in-article */
.profile-in-article {
    display:flex;
    flex-direction:row;
    width:100%;
    padding:30px 0;
}
.profile-in-article .profile-image{
    display:flex;
    flex-direction:row;
    justify-content: flex-end;
    padding:0 20px;
    /* background:linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgb(200, 200, 200) 50%, rgb(200, 200, 200) 100%); */
}
.profile-in-article .profile-image img{
    width:100px;
    height:100px;
    border-radius:50%;
}
.profile-in-article .profile-introduce {
    color:#272727;
    margin:auto 0;
}
.profile-in-article .profile-introduce a{
    color:#272727;
}
/* related-content */
.related-content {
    margin:0 auto;
}
.related-content .container {
    overflow-x:scroll;
}
.related-content .title {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}
.related-content ul {
    width:1000px;
    padding-left:10px;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
}
.related-content ul li {
    list-style: none;
    margin-right:20px;
}
/* summary-small */
.summary-small {
    height:310px;
    width:310px;
    margin-bottom:20px;
    display:inline-flex;
    flex-direction: column;
    overflow: hidden;
    /* margin:5px 10px; */
    cursor:pointer;
    background-color:white;
}
.summary-small .banner{
    height:50%;
    width:100%;
    display:inline-block;
    background-position:left;
    background-size:100% 100%;
    background-repeat:no-repeat;
}
.summary-small .title {
    height:50%;
    padding:10px;
}
.summary-small .title a{
    height:100%;
    width:100%;
}
.summary-small .title .name {
    display:flex;
    justify-content: center;
    align-items: center;
    height:40%;
    vertical-align: center;
    text-align:center;
    width:100%;
}
.summary-small .title .summary {
    display:flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
    text-align:center;
    height:40%;
}
.summary-small .title .date {
    display:flex;
    justify-content: center;
    height:20%;
}
/* section-move */
.section-move {
    width:100%;
    display:flex;
    flex-direction:column;
    margin-bottom:10px;
}
.section-move *{
    display:flex;
    align-items:center;
    font-size:1.5rem;
}
.section-move .previous {
    width:100%;
    text-align:left;
    height:50px;
    padding-left:10px;
}
.section-move .previous .icon {
    margin:auto 10px auto 0;
}
.section-move .next {
    width:100%;
    text-align:right;
    height:50px;
    padding-right:10px;
}
.section-move .next .icon {
    margin:auto 0 auto 10px;
}