/*
Hugo-mania Theme CSS
*/
* {
    box-sizing:border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  color: #505050;
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 1.83em;
}
body {
    min-width:800px;
    scroll-behavior: smooth;
    transition:0.8s;
    background-color:#ffffff;
    display:flex;
    flex-direction:column;
}
img {
    max-width: 100%;
}
button {
    outline:none;
    border: none;
    cursor:pointer;
}
a {
    color:#505050;
    text-decoration: none;;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color:#505050;
}
hr.summary-sep {
    min-width:100%;
    border-top:3px dashed #bbb;
    margin:20px auto;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
/* Topbar */
#topbar {
    width:100%;
    height: 50px;
    padding:0 10px 0 10px;
    position: fixed;
    top:0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index:5;
}
#topbar.card {
    background-color:rgba(255,255,255,0.8);
}
#topbar .logo a img {
    margin:9px 0;
}
#topbar .burger {
    display:flex;
}
#topbar .burger button {
    margin: auto 0;
    background:none;
}
/* Aside */
#aside {
    min-height:100%;
    width:350px;
    max-width:50%;
    position:fixed;
    right:0;
    top:0;
    transform:translateX(0px);
    transition:0.2s ease-out;
    background-color:white;
    z-index:10;

    display:flex;
    flex-direction:column;
}
#aside.hidden {
    transform:translateX(350px);
    transition:0.2s ease-out;
}
#aside .top {
    height:50px;
    display:flex;
    padding:0 10px;
    justify-content: flex-end;
}
#aside .top button {
    margin:auto 0;
    background:none;
}
#aside .aside-sep {
    width:80%;
    height:2px;
    margin:8px auto;
}
/* Content*/
#content {
    margin:0 auto;
    width: 90%;
    max-width:1200px;
    padding:50px;
    display:flex;
    flex-direction:column;
    justify-content: center;
}
/* Summary */
article.summary {
    border-radius:4px;
    margin:0 auto;
    height:270px;
    min-width:100%;
    overflow:hidden;
    display:flex;
    flex-direction:row;
    background-color:white;
}
article.summary .cover-image {
    width:270px;
    height:270px;
    background-position:left;
    background-size:270px 270px;
    background-repeat:no-repeat;
    margin:auto 0;
}
article.summary .cover-image .classification {
    opacity:0;
    visibility:hidden;
    background:rgba(0,0,0,0.5);
    color:white;
    height:100%;
    transition:0.3s;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    margin:0 auto;
    padding:5px;
}
article.summary:hover .cover-image .classification {
    opacity:1;
    visibility:visible;
    transition:0.3s;
}
article.summary .cover-image .classification .category {
    margin:0 auto;
    display:flex;
    flex-direction:column;
    height:40%;
}
article.summary .cover-image .classification .category * {
    color:white;
    margin:0 auto;
    text-align:center;
}
article.summary .cover-image .classification .tags {
    height:60%;
    margin:0 auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding:10px 20px;
}
article.summary .cover-image .classification .tags h4 {
    margin:0;
    text-align: center;
}

article.summary .cover-image .classification .tags ul.tag{
    display:flex;
    flex-direction:row;
    justify-content: center;
    flex-wrap: wrap;
}
article.summary .cover-image .classification .tags ul.tag * {
    color:white;
}
article.summary .cover-image .classification .tags .etc {
    margin:auto 0;
    text-align: center;
}
article.summary .cover-content {
    box-sizing:content-box;
    flex:1;
    margin:20px;
    overflow:hidden;
    display:flex;
    flex-direction:column;
}
article.summary .cover-content header{
    display: flex;
    flex-direction: row;
    height:60px;
    cursor: pointer;
    margin-bottom:25px;
}
article.summary .cover-content header * {
    margin:auto 0;
}
article.summary .cover-content header img.icon {
    height:50px;
    width:50px;
}
article.summary .cover-content header .title {
    display:flex;
    height:60px;
    flex-direction:column;
    flex:1;
    margin-left:15px;
}
article.summary .cover-content header .title h2 {
    font-size:27px;
    font-weight:300;
    margin:0;
    padding:0;
}
article.summary .cover-content header:hover .title h2 {
    text-decoration: underline;
}
article.summary .cover-content header .title .post-meta {
    font-size:15px;
    font-weight:200;
    height:20px;
    margin:0;
    margin-bottom:3px;
}
article.summary .content {
    flex:1;
    overflow: hidden;
}
article.summary .read-more {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}
/* Profile */
.profile {
    height:130px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}
.profile div.cover {
    flex:1;
    margin:0 auto;
}
.profile div.cover img {
    height:80px;
    width: 80px;
    border-radius: 50%;
}
.profile h2 {
    margin:0;
}
.profile h5 {
    margin:5px 10px;
    text-align:center;
}
/* Footer*/
#footer {
    height:150px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    text-align:center;
}
#footer span {
    font-size:0.7rem;
    color: #999999;
}
/* Scroll To Top*/ 
#footer button.scroll-to-top {
    border-radius:50%;
    background-color:#cccccc;
    font-size:1.3rem;
    width:70px;
    height:70px;
    position:fixed;
    bottom:30px;
    right:30px;
    display:flex;
    flex-direction:column;
    justify-content: center;
}
#footer button.scroll-to-top * {
    color:#505050;
    margin:0 auto;
}
#footer button.scroll-to-top:active {
    background-color:red;
}
/* Section, List, Taxonomy */
ul.contents {
    padding-left: 0;
}
ul.contents li {
    list-style: none;
}
/* Pagination */
.paging {
    display:flex;
    justify-content: center;
}
.paging .page {
    margin:0 10px;
}
/* Cateories */
.categories ul{
    margin: 0;
    padding: 0;
    display:inline-block;
}
.categories ul li{
    display:inline-block;

    border-radius: 4px;
    list-style: none;
    cursor: pointer;
}
.categories ul li .summary.card {
    background-color:black;
    overflow: hidden;
    border-radius: 4px;
    display:inline-block;
    width:250px;
    height:250px;
    margin:10px;
}
.categories ul li .summary.card div.recent-image{
    width:250px;
    height:150px;
    background-position:left;
    background-size:250px 150px;
    background-repeat:no-repeat;
    display:flex;
    flex-direction:column;
    justify-content: center;
    text-align: center;
}
.categories ul li .summary.card div.recent-image span{
    background-color:rgba(255,255,255,0.6);
    font-weight:300;
}
.categories ul li .summary.card .title{
    background-color:white;
    width:250px;
    height:100px;
    display:flex;
    flex-direction:column;
}
.categories ul li .summary.card .title a{
    text-decoration: none;
}
.categories ul li .summary.card .title a h3{
    margin:0;
    font-size:1.5rem;
    font-weight:300;
    text-align: center;
    padding:10px 0;
}
.categories ul li .summary.card:hover .title a h3{
    text-decoration: underline;
}
.categories ul li .summary.card .title a div{
    text-align: center;
}
.categories ul li .summary.card:hover .title a div{
    text-decoration: underline;
}
/* Sections */
.sections h1 {
    margin:2rem 0;
}
/* Taxonomy */
.taxonomy {
    display:flex;
    flex-direction:column;
}
.taxonomy h1{
    margin:2rem 0;
}
/* breadCrumbNav */
.breadcrumbnav {
    color: #cccccc;
}
.breadcrumbnav .active{
    color:#3EB489;
}