/*
Hugo-mania Theme CSS
*/
* {
    box-sizing:border-box;
    margin:0;
    padding:0;
}
html,
body {
  margin: 0;
  padding: 0;
  color: #505050;
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 1.83em;
}
body {
    /* min-width:800px; */
    scroll-behavior: smooth;
    transition:0.8s;
    background-color:#ffffff;
    display:flex;
    flex-direction:column;
}
img {
    max-width: 100%;
}
button {
    outline:none;
    border: none;
    cursor:pointer;
}
a {
    color:#3EB489;
    text-decoration: none;;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color:#999999;
}
hr.summary-sep {
    min-width:100%;
    border-top:3px dashed #bbb;
    margin:20px auto;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.hidden {
    display:none;
}
/* Topbar */
#topbar {
    width:100%;
    height: 55px;
    position: fixed;
    top:0;
    z-index:50;
}
#topbar .menus {
    height:50px;
    padding:0 10px 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index:5;
}
#topbar.card .progress-bar {
    height:5px;
    display:flex;
    background-color:#cccccc;
}
#topbar.card .progress-bar .progress {
    display:inline-block;
    background:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(8,200,22,1) 0%, rgba(0,112,255,1) 100%);
    height:100%;
}
#topbar.card {
    background-color:rgba(255,255,255,0.8);
}
#topbar .logo a img {
    margin:9px 0;
}
#topbar .burger {
    display:flex;
}
#topbar .burger button {
    margin: auto 0;
    background:none;
}
/* Aside */
#aside {
    min-height:100%;
    width:350px;
    max-width:50%;
    position:fixed;
    right:0;
    top:0;
    transform:translateX(0px);
    transition:0.2s ease-out;
    background-color:white;
    z-index:60;
    padding:0 10px;
    display:flex;
    flex-direction:column;
}
#aside.hidden {
    transform:translateX(350px);
    transition:0.2s ease-out;
}
#aside .top {
    height:50px;
    display:flex;
    justify-content: flex-end;
}
#aside .top button {
    margin:auto 0;
    background:none;
}
#aside .aside-sep {
    width:80%;
    height:2px;
    margin:8px auto;
}
#aside .aside-menu {
    padding-left:20px;
}
#aside .aside-menu ul li {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}
#aside .sidebar-nav {
    padding-left:20px;
}
#aside .sidebar-nav ul li {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}
/* Content*/
#content {
    max-width:100%;
    display:flex;
    flex-direction:column;
    justify-content: center;
}
#content #banner {
    height:400px;
    position:fixed;
    top:0;
    width:100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#content #banner .title {
    display:flex;
    flex-direction: column;
    justify-content: center;
    position: -webkit-sticky;
    position: absolute;
    width: 100%;
    height:400px;
    text-align:center;
    margin:auto 0;
    color:white;
    z-index:0;
    /* background-color:green; */
}
#content #main {
    background-color:white;
    width:100%;
    padding:30px 50px;
    margin:0 auto;
    display:flex;
    flex-direction:column;
    justify-content: center;
    position:relative;
    top:400px;
    z-index:10;
}
#content #main .center {
    width:100%;
    max-width:1000px;
    margin:0 auto;
    overflow:hidden;
    display:flex;
    flex-direction:column;
}
#content #meta {
    background-color:white;
    position:relative;
    top:400px;
    padding:0 30px;
    width:100%;
    margin:0 auto;
    z-index:10;
}
#content #meta .center {
    width:1000px;
    margin:0 auto;
}
/* Summary */
article.summary {
    border-radius:4px;
    margin:0 auto;
    height:270px;
    min-width:100%;
    overflow:hidden;
    display:flex;
    flex-direction:row;
    background-color:white;
}
article.summary .cover-image {
    width:270px;
    height:270px;
    background-position:left;
    background-size:100% 100%;
    background-repeat:no-repeat;
    margin:auto 0;
}
article.summary .cover-image .classification {
    opacity:0;
    visibility:hidden;
    background:rgba(0,0,0,0.5);
    color:white;
    height:100%;
    transition:0.3s;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    margin:0 auto;
    padding:5px;
}
article.summary:hover .cover-image .classification {
    opacity:1;
    visibility:visible;
    transition:0.3s;
}
article.summary .cover-image .classification .category {
    margin:0 auto;
    display:flex;
    flex-direction:column;
    height:40%;
}
article.summary .cover-image .classification .category * {
    color:white;
    margin:0 auto;
    text-align:center;
}
article.summary .cover-image .classification .tags {
    height:60%;
    margin:0 auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding:10px 20px;
}
article.summary .cover-image .classification .tags h4 {
    margin:0;
    text-align: center;
}

article.summary .cover-image .classification .tags ul.tag{
    display:flex;
    flex-direction:row;
    justify-content: center;
    flex-wrap: wrap;
}
article.summary .cover-image .classification .tags ul.tag * {
    color:white;
}
article.summary .cover-image .classification .tags .etc {
    margin:auto 0;
    text-align: center;
}
article.summary .cover-content {
    box-sizing:content-box;
    flex:1;
    margin:20px;
    overflow:hidden;
    display:flex;
    flex-direction:column;
}
article.summary .cover-content a{
    display: flex;
    flex-direction: row;
    height:60px;
    cursor: pointer;
    margin-bottom:25px;
    color:#505050;
}
article.summary .cover-content a * {
    margin:auto 0;
}
article.summary .cover-content a img.icon {
    height:50px;
    width:50px;
}
article.summary .cover-content a .title {
    display:flex;
    height:60px;
    flex-direction:column;
    flex:1;
    margin-left:15px;
}
article.summary .cover-content a .title h2 {
    font-size:26px;
    font-weight:300;
    margin:0;
    padding:0;
}
article.summary .cover-content a:hover .title h2 {
    text-decoration: underline;
}
article.summary .cover-content a .title .post-meta {
    font-size:15px;
    font-weight:200;
    height:20px;
    margin:0;
    margin-bottom:3px;
}
article.summary .cover-content .content {
    flex:1;
    overflow: hidden;
}
article.summary .cover-content .read-more {
    height:30px;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}
/* Profile */
.profile {
    height:130px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}
.profile div.cover {
    flex:1;
    margin:0 auto;
}
.profile div.cover img {
    height:80px;
    width: 80px;
    border-radius: 50%;
}
.profile h2 {
    margin:0;
}
.profile h5 {
    margin:5px 10px;
    text-align:center;
}
/* Footer*/
#footer {
    position:relative;
    height:400px;
    background-color:#cccccc;
    display:flex;
    flex-direction:column;
    justify-content: center;
    text-align:center;
    z-index:10;
    top:400px;
}
#footer span {
    font-size:0.7rem;
    color: #999999;
}
/* Scroll To Top*/ 
#footer button.scroll-to-top {
    border-radius:50%;
    background-color:#cccccc;
    font-size:1.3rem;
    width:70px;
    height:70px;
    position:fixed;
    bottom:30px;
    right:30px;
    display:flex;
    flex-direction:column;
    justify-content: center;
}
#footer button.scroll-to-top * {
    color:#505050;
    margin:0 auto;
}
#footer button.scroll-to-top:active {
    background-color:red;
}
/* Section, List, Taxonomy */
ul.contents {
    padding-left: 0;
}
ul.contents li {
    list-style: none;
}
/* Pagination */
.paging {
    display:flex;
    justify-content: center;
}
.paging a.page {
    margin:0 10px;
}
.paging a.first {
    padding:0 10px 0 0;
}
.paging a.prev {
    padding:0 10px 0 0;
}
.paging a.next {
    padding:0 0 0 10px;
}
.paging a.last {
    padding:0 0 0 10px;
}
/* Cateories */
.categories ul{
    margin: 0;
    padding: 0;
    display:inline-block;
}
.categories ul li{
    display:inline-block;

    border-radius: 4px;
    list-style: none;
    cursor: pointer;
}
.categories ul li .summary.card {
    background-color:black;
    overflow: hidden;
    border-radius: 4px;
    display:inline-block;
    width:250px;
    height:250px;
    margin:10px;
}
.categories ul li .summary.card div.recent-image{
    width:250px;
    height:150px;
    background-position:left;
    background-size:250px 150px;
    background-repeat:no-repeat;
    display:flex;
    flex-direction:column;
    justify-content: center;
    text-align: center;
}
.categories ul li .summary.card div.recent-image span{
    background-color:rgba(255,255,255,0.6);
    font-weight:300;
}
.categories ul li .summary.card .title{
    background-color:white;
    width:250px;
    height:100px;
    display:flex;
    flex-direction:column;
}
.categories ul li .summary.card .title a{
    text-decoration: none;
}
.categories ul li .summary.card .title a h3{
    margin:0;
    font-size:1.5rem;
    font-weight:300;
    text-align: center;
    padding:10px 0;
}
.categories ul li .summary.card:hover .title a h3{
    text-decoration: underline;
}
.categories ul li .summary.card .title a div{
    text-align: center;
}
.categories ul li .summary.card:hover .title a div{
    text-decoration: underline;
}
/* Sections */
.sections h1 {
    margin:2rem 0;
}
/* Taxonomy */
.taxonomy {
    display:flex;
    flex-direction:column;
}
.taxonomy h1{
    margin:2rem 0;
}
/* breadCrumbNav */
.breadcrumbnav {
    color: #cccccc;
}
.breadcrumbnav a {
    color: #505050;
}
.breadcrumbnav a.visited {
    color: #505050;
}
.breadcrumbnav .active{
    color:#3EB489;
}
/* post-toc */
.post-toc {
    height:fit-content;
}
.post-toc #table {
    background-color:#cccccc;
    overflow: hidden;
}
.post-toc .title {
    background-color:#3EB489;
    border-radius:4px;
    border:2px solid black;
    padding:3px;
    transition: 0.3s;
}
.post-toc .title.toggle-off {
    background-color:transparent;
    transition: 0.3s;
}
/* profile-in-article */
.profile-in-article {
    display:flex;
    flex-direction:row;
    width:100%;
    padding:30px 0;
}
.profile-in-article .profile-image{
    display:flex;
    flex-direction:row;
    justify-content: flex-end;
    padding:0 20px;
    /* background:linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgb(200, 200, 200) 50%, rgb(200, 200, 200) 100%); */
}
.profile-in-article .profile-image img{
    width:100px;
    height:100px;
    border-radius:50%;
}
.profile-in-article .profile-introduce {
    color:#272727;
    margin:auto 0;
}
.profile-in-article .profile-introduce a{
    color:#272727;
}
/* related-content */
.related-content ul {
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.related-content ul li {
    list-style: none;
}
/* summary-card */
.summary-card {
    height:270px;
    width:280px;
    display:inline-block;
    border-radius:4px;
    overflow: hidden;
    margin:5px 10px;
    cursor:pointer;
    background-color:white;
}
.summary-card .banner{
    height:50%;
    width:100%;
    display:inline-block;
    background-position:left;
    background-size:100% 100%;
    background-repeat:no-repeat;
}
.summary-card .title {
    text-align: center;
}
.summary-card h3 {
    padding:10px 10px;
}
/* section-move */
.section-move {
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}