/* summary-small */
.summary-small {
    height:270px;
    width:250px;
    margin-bottom:20px;
    display:inline-flex;
    flex-direction: column;
    overflow: hidden;
    /* margin:5px 10px; */
    cursor:pointer;
    background-color:white;
}
.summary-small .banner{
    height:50%;
    width:100%;
    display:inline-block;
    background-position:left;
    background-size:100% 100%;
    background-repeat:no-repeat;
}
.summary-small .title {
    height:50%;
    padding:10px;
}
.summary-small .title a{
    height:100%;
    width:100%;
}
.summary-small .title .name {
    margin-bottom:10px;
    width:100%;
}
.summary-small .title .summary {
    overflow:hidden;
    height:50%;
}
.summary-small .title .date {
    height:20%;
}
