/* Summary */
article.summary {
    margin:0 auto;
    height:250px;
    min-width:100%;
    overflow:hidden;
    display:flex;
    flex-direction:row;
    background-color:var(--main-card-color);
    color:var(--primary-text-color);
    border-radius:8px;
    margin-bottom:30px;
}
article.summary .cover-image {
    flex-grow:0;
    width:250px;
    height:250px;
    background-position:left;
    background-size:100% 100%;
    background-repeat:no-repeat;
    margin:auto 0;
}
article.summary .cover-content {
    box-sizing:content-box;
    flex:1;
    padding:20px;
    overflow:hidden;
    display:flex;
    flex-direction:column;
}
article.summary .cover-content a{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    color:var(--primary-text-color);
}
article.summary .cover-content a img.icon {
    height:2rem;
    width:2rem;
}
article.summary .cover-content a .title {
    font-size:1.7rem;
    line-height:110%;
    font-weight:500;
    margin-left:10px;
    padding:0;
}
article.summary .cover-content .post-meta {
    font-size:15px;
    font-weight:200;
    height:20px;
    margin:0;
    margin-top:3px;
    margin-bottom:17px;
    display:flex;
    flex-direction:row;
    color:var(--secondary-text-color);
}
article.summary .cover-content .post-meta i{
    font-size:1rem;
    line-height:1.2rem;
    margin-top:5px;
    margin-right:5px;
}
article.summary .cover-content .post-meta span.date {
    margin-right:5px;
}
article.summary .cover-content .post-meta a {
    color:var(--secondary-text-color);
}
article.summary .cover-content .content {
    flex:1;
    overflow: hidden;
}
article.summary .cover-content .read-more {
    display:flex;
    flex-direction:row;
    justify-content: flex-end;
}
article.summary .cover-content .read-more .go-to-read {
    /* border:1px solid var(--primary-variant-color); */
    color:var(--secondary-variant-color);
    background-color:var(--main-card-color);
    border-radius:16px;
    padding:0 16px;
    position:relative;
    z-index:1;
    overflow: hidden;
}
article.summary .cover-content .read-more .go-to-read:hover {
    color:var(--main-card-color);
}
article.summary .cover-content .read-more .go-to-read:hover .icon  {
    transform:translateX(5px);
    transition:0.3s;
}
article.summary .cover-content .read-more .go-to-read::before {
    content:'';
    position: absolute;
    width:200px;
    left:-200px;
    top:-10px;
    height:150px;
    background-color:var(--primary-color);
    z-index:-1;
    transition:transform 0.3s;
}
article.summary .cover-content .read-more .go-to-read:hover::before {
    transform:translateX(200px);
}
article.summary .cover-content .read-more .go-to-read * {
    margin:auto 0;
}
article.summary .cover-content .read-more .go-to-read span {
    margin-right:5px;
}
