/* post-toc */
.post-toc {
    position:sticky;
    width:350px;
    top:50px;
    left:77%;
    background-color:#eeeeee;
    border-radius:25px;
    padding:0 20px;
    overflow:hidden;
}
.post-toc #table {
    overflow: hidden;
}
.post-toc #table ul {
    counter-reset: post-toc;
    list-style-type:none;
}
.post-toc #table ul li:before {
    counter-increment: post-toc;
    content: counters(post-toc, ".") ". ";
}
.post-toc .title {
    display:flex;
    align-items:center;
    height:50px;
}
.post-toc .title .icon {
    margin-right:5px;
    width:11px;
}
