/* post-toc */
.post-toc {
    position:sticky;
    width:200px;
    max-height:500px;
    top:70px;
    padding:0 20px;
    overflow:auto;
    margin:0 auto;
    font-size:0.9rem;
}
.post-toc #table {
    overflow: hidden;
    margin:0 auto;
}
.post-toc #table ul:first-child {
    padding-left:0;
}
.post-toc #table ul {
    counter-reset: post-toc;
    list-style-type:none;
    padding-left: 20px;
}
.post-toc #table ul li:before {
    counter-increment: post-toc;
    content: counters(post-toc, ".") ". ";
}
.post-toc .title {
    display:flex;
    align-items:center;
    height:50px;
}
.post-toc .title .icon {
    margin-right:5px;
    width:11px;
}
