/* tag page css */
header#tag-header {
    min-width:600px;
    max-width:800px;
    width:100%;
    margin:0 auto;
    margin-top:70px;
}
header#tag-header .center {
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}
header#tag-header .title {
    font-weight:bolder;
    font-size:3rem;
    line-height:3rem;
    margin:30px 0;
}
header#tag-header .title .icon{
    margin-right:0.5rem;
}
header#tag-header .description {
    font-size:1.1rem;
    margin-bottom:30px;
}
header#tag-header .tag-list-head {
    margin-bottom:20px;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

main#tag-term {
    position:relative;
    display:flex;
    flex-direction:column;
    justify-content: center;
    min-width:600px;
    max-width:800px;
    margin:0 auto;
    padding-bottom:70px;
}
main#tag-term .sort-options {
    display:flex;
    flex-direction:row;
    margin-bottom:10px;
}
main#tag-term .sort-options span {
    margin-right:7px;
}
main#tag-term .sort-options button.option {
    padding:3px;
    border-radius: 4px;
    margin-right:5px;
    box-shadow: 3px 3px #e3e3e3;
    background-color:#fafafa;
}

/* tag */
ul.tags {
    margin:0;
    padding:0;
}
ul.tags li{
    display:inline-flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-self:center;
    list-style: none;
    text-align:center;
    background-color:#fafafa;
    margin-right:8px;
    margin-bottom:12px;
    border-radius: 4px;
    box-shadow: 3px 3px #e3e3e3;
    transition:0.3s ease-in-out;
}
ul.tags li a {
    height:100%;
    width:100%;
    text-decoration: none;
    padding: 2px 8px;
    padding-bottom:4px;
    font-weight:100;
    font-size:1rem;
    color:#343A40;
    cursor: pointer;
    transition:0.3s ease-in-out;
}
ul.tags li:hover {
    background-color: #1c1c1b;
    box-shadow: 3px 3px #1c1c1b;
    
}
ul.tags li:hover a {
    color:#3EB489;
    
}