.tags {
    display:flex;
    flex-direction:column;
    justify-content: center;
}
.tags ul.tag {
    margin:0;
    padding:0;
}
.tags ul.tag li{
    box-sizing:content-box;
    display:inline-block;
    vertical-align: middle;
    list-style: none;
    text-align:center;
    margin-right:3px;
    margin-bottom:7px;
    height:30px;
    border:2px solid #cccccc;
    border-radius: 15px;
}
.tags ul.tag li a {
    height:100%;
    width:100%;
    text-decoration: none;
    padding:3px 12px 3px 12px;
    font-weight:300;
    font-size:14px;
    line-height:1;
}
.tags ul.tag li:hover {
    background-color:#cccccc;
}