/* Taxonomy */
#taxonomies {
    position:relative;
    min-width:600px;
    max-width:800px;
    margin:0 auto;
}
.taxonomy {
    display:flex;
    flex-direction:column;

}
.taxonomy h1{
    margin:2rem 0;
}